<%- include('./partial/header') %>

<body>
  <%- include('./partial/navbar') %>
  <br>
  <h1 align="center">INVOICE</h1>
  <div class="row" ><h4>Name:  <%=data.full_name%></h4></div>
  <div class="row" ><h4>Age:  <%=data.age%></h4></div>
  <div class="row" ><h4>Location:  <%=data.exactLocation%></h4></div>

  <br><br>
  <table class="table">
    <thead class="table table-sm table-primary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody class="table table-sm table-light">
      <%let total = 0%>
      <% data.Items.forEach(list=>{ %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.category %></td>
        <td><%= list.CustomerItem.quantity %></td>
        <td><%= toRupiah(list.price) %></td>
        <td><%= toRupiah(list.price * list.CustomerItem.quantity) %></td>
        <% total += list.price * list.CustomerItem.quantity %>  
      </tr>
      <% }) %>
      <tr>
        <th scope="col" colspan="4">Total</th>
        <td><%=toRupiah(total)%></td>
      </tr>
    </tbody>
  </table>
    </tbody>
  </table>
</body>
</html>