<%- include('./partial/header') %>

<body>
  <%- include('./partial/navbar') %>
  <br><br>
  <h1 align="left">List Movies</h1>
  <form action="/items/edit/<%=data.id%>" method="POST">
    <form>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" placeholder="e.g: N95 Mask" value="<%=data.name%>">
      </div>
      <div class="form-group">
        <label>Category</label>
        <input class="form-control" name="category" placeholder="e.g: Masker" value="<%=data.category%>">
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <input class="form-control" name="quantity" placeholder="e.g: 10" value="<%=data.quantity%>">
      </div>
      <div class="form-group">
        <label>Weight</label>
        <input class="form-control" name="weight" placeholder="e.g: 1" value="<%=data.weight%>">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="price" placeholder="e.g: 15000" value="<%=data.price%>">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button> <button type="reset"
        class="btn btn-secondary">Reset</button>
    </form>
  </form>
</body>

</html>