<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <br>
  <h1 align="left">List Items</h1>
  <div class="container-fluid text-right mb-1">
    <a href="/items/add"><button type="button" class="btn btn-success">Add Item</button></a>
  </div>
  <% if (data.length) { %>
    <table class="table table-sm table-dark">
      <thead class="table table-sm table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Quantity</th>
          <th scope="col">weight</th>
          <th scope="col" style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody class="table table-sm table-light">
      <% data.forEach(list=>{ %>
        <tr>
          <td><%= list.name %></td>
          <td><%= list.category %></td>
          <td><%= list.quantity %></td>
          <td><%= list.weight %></td>
          <td style="text-align: right;">
            <a href="/items/edit/<%=list.id%>"><button type="button" class="btn btn-primary">Edit</button></a>  
            <a href="/items/delete/<%=list.id%>" onclick="return confirm('Delete this?')"><button type="button" class="btn btn-primary">Delete</button></a>
          </td>
      <% }) %>
    </tbody>
  </table>
  <% }else{ %>
    <div class="alert alert-dark" role="alert">
      <h3 style="text-align: center;">List not found!!</h3>
    </div>
    <%}%>
    </tbody>
  </table>
</body>
</html>