<%- include('./partial/header') %>

<body>
  <%- include('./partial/navbar') %>
  <br>
  <h1 align="left">List Items</h1>
  <% if (data.length) { %>
  <table class="table table-sm table-dark">
    <thead class="table table-sm table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Weight</th>
        <th scope="col">Price</th>
        <th scope="col" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody class="table table-sm table-light">
      <% data.forEach(list=>{ %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.category %></td>
        <td><%= list.quantity %></td>
        <td><%= list.weight %></td>
        <td><%= Convert.toRupiah(list.price) %></td>
        <form action="/customers/add/<%=list.id%>" method="POST">
        <td style="text-align: right;">
          <input type="number" name="item_id" hidden value="<%=list.id%>">
          <input type="number" name="quantity" placeholder="Amount" min="1" max="<%=list.quantity%>">
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </td>
      </form>
        <% }) %>
    </tbody>
  </table>
  <br>
  <div class="container-fluid text-right mb-1">
    <a href="/carts"><button type="button" class="btn btn-success">Check Cart</button></a>
  </div>
  <% }else{ %>

  <div class="alert alert-dark" role="alert">
    <h3 style="text-align: center;">List not found!!</h3>
  </div>
  <%}%>
    </tbody>
  </table>
</body>
</html>